@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto&family=Silkscreen&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: linear-gradient(-45deg,
    #0C2D48,#2E8BC0,#e1fcaf,#D2FBA4, #BFD7ED);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

header{
    font-family: 'Roboto', sans-serif;
    background-color: #0C2D48;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 12px 50px;
}

.saudacao{
    margin-top: 90px;
    text-align: center;
    font-size: 80px;
    font-family: 'Silkscreen', sans-serif;
    color: #1E2D2F;

}

.centro{
    text-align: center;
    width: -40%;
    overflow: hidden;
}

.pesquisa{
    
    margin:auto;
    margin-top: 100px;
    width: 45%;
    height: 5%;
    border-radius: 25px;
    display: block;
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 30px;
    line-height: 45px;
}



#caixa{
    display: inline-block;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.29);
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Protest Guerrilla', sans-serif;
    font-style: normal;
    font-size: larger;
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    
}

#caixa:not(:placeholder-shown){
    font-family:'Roboto';
    font-size: large;
}

.botoes{
    font-family: 'Roboto', sans-serif;
    margin-top: 35px;
    display: flexbox;
    align-items: center;
    
}

.botao{
    width: 115px;
    height: 40px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: -4px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(11.1px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.botao:hover{
    cursor: pointer;
}


.link{
    
    width: 115px;
    height: 40px;
    text-align: center;
    color: #000000;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    margin-top: 15px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(11.1px);
    border: 1px solid rgba(255, 255, 255, 0.29);

}

.rodape{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    display: flexbox;
    flex-direction: column;
}

.rodape > div{
    
    background-color: #0C2D48;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    line-height: 90px;
    color: white;
    text-align: center;

}





@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}